{% set page = app.request.get('offset') %}
{% set limit = app.request.get('limit') %}
{% set routeParams = app.request.attributes.get('_route_params') %}
{% set qString = app.request.queryString|query_string %}
{% set pages = (total/ (limit == 0 ? 1 : limit) )|round(0, 'ceil') %}
{% if pages >= 2 %}
	{% set offSet = 0 %}
	{% set maxPages = (pages >= 7) ? 7 : pages %}
	{% set center = (maxPages/2)|round(0, 'ceil') %}
	{% if (pages > maxPages) and (page >= center) %}
		{% set offSet = (page - center) %}
		{% if ((page + center) > pages) %}
			{% set offSet = offSet - (((page + center) - pages) - 1) %}
		{% endif %}
	{% endif %}
	<ul class="pagination">
		<li{% if page == 1 %} class="disabled"{% endif %}>
			<a href="{{ path(app.request.get('_route'), routeParams|merge({ offset: 1, limit: limit }) ) }}{{ qString }}" title="Eerste pagina">&laquo;</a>
		</li>
		<li{% if page == 1 %} class="disabled"{% endif %}>
			<a href="{{ path(app.request.get('_route'), routeParams|merge({ offset: ((page != 1) ? (page - 1) : (page)), limit: limit }) ) }}{{ qString }}" title="Vorige pagina">Vorige</a>
		</li>
		{% for i in (1 + offSet)..(maxPages + offSet) %}
			<li{% if page == i %} class="disabled"{% endif %}>
				<a href="{{ path(app.request.get('_route'), routeParams|merge({ offset: i, limit: limit }) ) }}{{ qString }}" title="Pagina {{ i }}">
					{{ i }}
				</a>
			</li>
		{% endfor %}
		<li{% if (page == pages) %} class="disabled"{% endif %}>
			<a href="{{ path(app.request.get('_route'), routeParams|merge({ offset: ((page == pages) ? page : (page + 1)), limit: limit }) ) }}{{ qString }}" title="Volgende pagina">Volgende</a>
		</li>
		<li{% if (page == pages) %} class="disabled"{% endif %}>
			<a href="{{ path(app.request.get('_route'), routeParams|merge({ offset: pages, limit: limit }) ) }}{{ qString }}" title="Laatste pagina">&raquo;</a>
		</li>
		<li>
			<small style="padding-left: 4px; line-height: 34px;">&nbsp;Rijen {{ (page * limit)- limit + 1 }} tot {% if page == pages %}{{ (pages * limit) - ((pages * limit) - (total)) }}{% else %}{{ (page * limit) }}{% endif %} van {{ total }}</small>
		</li>
	</ul>
{% endif %}